@font-face {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  src: url(Futura-Medium.woff) format('woff');
}

@font-face {
  font-family: Futura;
  font-style: normal;
  font-weight: 700;
  src: url(Futura-Bold.woff) format('woff');
}

@font-face {
  font-family: Futura;
  font-style: normal;
  font-weight: 400;
  src: url(Futura-Light.woff) format('woff');
}
