@import 'reset.css';
@import 'vars.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Futura;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

.wrapper-shower {
  position: absolute;
  top: 0;
  height: 400px;
  width: 960px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: black;
  opacity: .5;
  z-index: 9999999;
}

.hidden {
  display: none;
}

.wrapper {
  width: 96rem;
  margin: 0 auto;
}

.button {
  padding: 1rem 2rem;
  border-radius: 50rem;
  border: .1rem solid black;
  transition: color 500ms ease, background-color 500ms ease, border-color 500ms ease;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
}

.wide-button {
  padding: 1rem 5rem;
}

.green-button {
  background: var(--Green);
  color: white;
  border-color: var(--Green);
}

.green-button:hover {
  background-color: white;
  color: var(--Green);
}

.blue-button {
  background: var(--Blue);
  color: white;
  border-color: var(--Blue);
}

.blue-button:hover {
  background: white;
  color: var(--Blue);
}

.white-outline-button {
  border-color: white;
  color: white;
}

.white-outline-button:hover {
  background-color: white;
  color: black;
}

.black-outline-button {
  border-color: black;
  color: black;
}

.black-outline-button:hover {
  background-color: black;
  color: white;
}

header {
  display: flex;
}

.left-side {
  background-color: var(--Green);
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr;
}

.home-header .left-side {
  grid-template-rows: 5rem 24rem 5rem 35rem;
}

.repeatable-header .left-side {
  grid-template-rows: 5rem 24rem 5rem 13rem;
}

.left-side img {
  justify-self: end;
}

.left-side .logo {
  grid-row: 2 / span 2;
  grid-column: 1;
  z-index: 9;
  margin-right: 6vw;
}

.left-side .car {
  grid-row: 3 / span 2;
  grid-column: 1;
  display: block;
  margin-right: -.25rem;
  opacity: .8;
}

.right-side {
  background-image: url(../assets/img/dot-pattern-light.png);
  background-repeat: repeat;
  width: 50vw;
  display: grid;
  grid-template-columns: 48rem;
}

.home-header .right-side {
  grid-template-rows: 5rem 5rem 17rem 2rem 48rem;
}

.repeatable-header .right-side {
  grid-template-rows: 5rem 5rem 0 2rem 35rem;
}

.repeatable-header .right-side .title {
  font-size: 4.3rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 48rem;
  text-align: right;
  grid-row: 5 / span 1;
  grid-column: 1;
  z-index: 9;
  justify-self: end;
  align-self: center;
}

nav {
  /* margin-top: 5rem;
  margin-left: 9.3rem; */
  grid-row: 2 / span 1;
  grid-column: 1;
  justify-self: end;
}

nav a {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin: 0 1rem;
}

.tagline {
  font-size: 4.3rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 38rem;
  text-align: right;
  grid-row: 5 / span 1;
  grid-column: 1;
  z-index: 9;
  justify-self: end;
}

.right-side img {
  grid-row: 4 / span 2;
  grid-column: 1;
}

.over {
  background: var(--DarkBlue);
  color: white;
  display: flex;
  justify-content: center;
  padding: 10rem 0;
}

.over .inner {
  display: grid;
  grid-template-columns: 39rem 9rem 30rem;
  grid-template-rows: 2rem 16rem 20rem;
}

.over img {
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
}

.over .text {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  align-self: center;
}

.over h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.over p {
  font-size: 1.4rem;
  margin-top: 2rem;
  font-weight: 400;
  line-height: 2rem;
}

.over a {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  width: 20rem;
  height: 5rem;
  line-height: 5rem;
  padding: 0;
  text-align: center;
  justify-self: end;
  margin-top: 5rem;
}

.over a:hover {
  color: var(--DarkBlue);
}

.importantDates {
  display: flex;
}

.importantDate {
  width: 33.33vw;
  text-align: center;
}

.importantDate h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 5rem;
}

.importantDate p {
  font-size: 1.4rem;
  width: 70%;
  margin: 2rem auto;
  line-height: 1.8rem;
}

.importantDate .divider {
  width: .1rem;
  display: inline-block;
  height: 1.8rem;
  background: black;
  margin: 0 2rem;
}

.importantDate a {
  display: block;
  width: 20rem;
  margin: 2rem auto 5rem;
}

.whiteText {
  color: white;
}

.whiteText .divider {
  background: white;
}

.autovrije {
  background: var(--Green);
}

.strap {
  background: var(--Blue);
}

.recent {
  background: var(--BrokenWhite);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22rem 8rem 35rem 20rem;
}

.recent img {
  right: 0;
  position: absolute;
  z-index: 1;
}

.recent h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  grid-column: 1 / span 3;
}

.recent-data {
  width: 96rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  grid-template-rows: 1.8rem 1fr;
  grid-gap: 2rem;
  z-index: 9;
  position: relative;
  grid-column: 1;
  grid-row: 2 / span 2;
}

.event-card {
  width: 30rem;
  border-radius: .5rem;
  background: white;
  padding-bottom: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

.event-card-image {
  height: 20rem;
  background-size: cover;
  border-radius: .5rem .5rem 0 0;
}

.event-card h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2rem;
  padding: 0 2rem;
  min-height: 2.8rem;
}

.event-card p {
  font-size: 1.4rem;
  padding: 0 2rem;
  margin-top: 1rem;
}

.event-card .dateTime {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.event-card .location {
  font-weight: 500;
}

.event-card .location::before {
  content: url(../assets/img/location-icon.png);
  margin-right: 1rem;
}

.recent .buttons {
  grid-column: 1;
  grid-row: 4;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  width: 60rem;
}

footer {
  background: var(--DarkBlue);
  color: white;
  font-size: 1.4rem;
  padding: 5rem 0;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 1rem 0;
  line-height: 1.8rem;
}

footer .info {
  width: 20rem;
}

footer .social {
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16rem;
}

.filter {
  margin-top: 5rem;
}

.filter .label {
  font-size: 1.4rem;
  font-weight: 500;
}

.days {
  display: flex;
  margin-bottom: 5rem;
}

.day {
  text-align: center;
  width: 5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
}

.day-inactive {
  opacity: .5;
}

.input {
  padding: 1rem;
  border-radius: 50rem;
  border: .1rem solid black;
  font-family: Futura;
  font-size: 1.4rem;
  width: 30rem;
  outline: none;
}

.filter .upper-section {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(2, 40rem);
  grid-template-rows: 3rem 10rem;
}

.tags {
  background: var(--DarkBlue);
  text-align: center;
  padding: 2rem 0;
}

.tags .label {
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  text-align: left;
  margin: 2rem 0;
}

.tags .tag {
  background: white;
  display: inline;
  color: var(--DarkBlue);
  padding: .5rem 1rem;
  border-radius: 50rem;
  margin: 0 1rem;
  line-height: 4.4rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.tags .tag-inactive {
  opacity: .5;
}

.events {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  grid-gap: 2rem;
  padding: 5rem 0;
}

.events a {
  margin: 0 auto;
  display: block;
  width: 20rem;
  text-align: center;
  margin-top: 2rem;
}

.detail-grid {
  display: grid;
  grid-template-columns: 1fr 40rem;
  grid-template-rows: 5rem 30rem 5rem 1fr;
  margin-top: -5rem;
}

.thumbnail {
  width: 40rem;
  height: 40rem;
  background-size: cover;
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
}

.detail-grid .intro {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  font-size: 1.4rem;
  font-weight: 500;
  align-self: end;
}

.detail-grid .intro p {
  margin-bottom: 2rem;
  width: 90%;
  line-height: 1.8rem;
}

.detail-grid .important-info {
  grid-row: 3;
  grid-column: 1 / span 1;
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 1.4rem;
  font-weight: 500;
}

.detail-grid .detail-blocks {
  grid-column: 1 / span 2;
  grid-row: 4;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  grid-gap: 2rem;
}

.detail-grid .detail-blocks h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--Blue);
  text-transform: uppercase;
}

.detail-grid .detail-blocks p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-top: 1rem;
}

.detail-grid .praktisch {
  grid-column: 1 / span 2;
  grid-row: 5;
  background: var(--Blue);
  color: white;
  padding: 5rem 15rem;
  font-size: 1.4rem;
  margin-top: 10rem;
}

.detail-grid .praktisch h3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.detail-grid .praktisch p {
  margin: 1rem 0;
  line-height: 1.6rem;
}

.detail-grid .praktisch ul {
  list-style: initial;
}

.detail-grid .praktisch li {
  margin-left: 2rem;
}

.detail-grid .buttons {
  grid-row: 6;
  grid-column: 1 / span 2;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10rem 0;
}

.detail-blocks .full-length {
  grid-column: 1 / span 3;
}
