@import 'reset.css';
@import 'vars.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Futura;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

.wrapper-shower {
  position: absolute;
  top: 0;
  height: 400px;
  width: 960px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: black;
  opacity: .5;
  z-index: 9999999;
}

.hidden {
  display: none;
}

header {
  display: flex;
}

.button {
  padding: 1rem 2rem;
  border-radius: 50rem;
  border: .1rem solid black;
  transition: color 500ms ease, background-color 500ms ease, border-color 500ms ease;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
}

.wide-button {
  padding: 1rem 5rem;
}

.green-button {
  background: var(--Green);
  color: white;
  border-color: var(--Green);
}

.green-button:hover {
  background-color: white;
  color: var(--Green);
}

.white-outline-button {
  border-color: white;
  color: white;
}

.white-outline-button:hover {
  background-color: white;
  color: black;
}

.black-outline-button {
  border-color: black;
  color: black;
}

.black-outline-button:hover {
  background-color: black;
  color: white;
}

.left-side {
  background-color: var(--Green);
  width: 50vw;
  display: grid;
  grid-template-rows: 5rem 24rem 5rem 35rem;
  grid-template-columns: 1fr;
}

.left-side img {
  justify-self: end;
}

.left-side .logo {
  grid-row: 2 / span 2;
  grid-column: 1;
  z-index: 9;
  margin-right: 6vw;
}

.left-side .car {
  grid-row: 3 / span 2;
  grid-column: 1;
  display: block;
  margin-right: -.25rem;
  opacity: .8;
}

.right-side {
  background-image: url(../assets/img/dot-pattern-light.png);
  background-repeat: repeat;
  width: 50vw;
  display: grid;
  grid-template-columns: 48rem;
  grid-template-rows: 5rem 5rem 17rem 2rem 48rem;
}

nav {
  /* margin-top: 5rem;
  margin-left: 9.3rem; */
  grid-row: 2 / span 1;
  grid-column: 1;
  justify-self: end;
}

nav a {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin: 0 1rem;
}

.tagline {
  font-size: 4.3rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 38rem;
  text-align: right;
  grid-row: 5 / span 1;
  grid-column: 1;
  z-index: 9;
  justify-self: end;
}

.right-side img {
  grid-row: 4 / span 2;
  grid-column: 1;
}

.over {
  background: var(--DarkBlue);
  color: white;
  display: flex;
  justify-content: center;
  padding: 10rem 0;
}

.over .inner {
  display: grid;
  grid-template-columns: 39rem 9rem 30rem;
  grid-template-rows: 2rem 16rem 20rem;
}

.over img {
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
}

.over .text {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  align-self: center;
}

.over h2 {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.over p {
  font-size: 1.4rem;
  margin-top: 2rem;
  font-weight: 400;
  line-height: 2rem;
}

.over a {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  width: 20rem;
  height: 5rem;
  line-height: 5rem;
  padding: 0;
  text-align: center;
  justify-self: end;
  margin-top: 5rem;
}

.over a:hover {
  color: var(--DarkBlue);
}

.importantDates {
  display: flex;
}

.importantDate {
  width: 33.33vw;
  text-align: center;
}

.importantDate h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 5rem;
}

.importantDate p {
  font-size: 1.4rem;
  width: 70%;
  margin: 2rem auto;
}

.importantDate .divider {
  width: .1rem;
  display: inline-block;
  height: 1.8rem;
  background: black;
  margin: 0 2rem;
}

.importantDate a {
  display: block;
  width: 20rem;
  margin: 2rem auto 5rem;
}

.whiteText {
  color: white;
}

.whiteText .divider {
  background: white;
}

.autovrije {
  background: var(--Green);
}

.strap {
  background: var(--Blue);
}
